<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/main-layout-v1">
<head>
	<meta charset="UTF-8"/>
    <title>Cập nhật giá</title>
	<link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
</head>
<body>

	<ol layout:fragment="link">
		<li>
            <a th:href="@{/price}"><i class="glyphicon glyphicon-equalizer"></i> Bảng giá</a>
        </li>
		<li>
            <a href="#"><i class="glyphicon glyphicon-edit"></i> Cập nhật giá</a>
        </li>
	</ol>

	<section layout:fragment="content">
		<div th:if="${param.success}" class="alert alert-success fade in">
			<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
			<strong>Thành công!</strong> Giá sản phẩm đã được cập nhật.
		</div>
		<h4>Cập nhật giá sản phẩm</h4>
		<hr/>
		<div class="row">
		  	<div class="col-sm-2">
		  		<img th:src="@{\img\photo.jpg.png}" alt="profile image" class="img-rounded img-responsive"/>
		  	</div>
		  	<div class="col-sm-7">
				<form th:action="@{/update-price}" method="post" th:object="${unitPrice}">
					<table class="table table-striped">
						<tr>
							<td><b>Mã sản phẩm:</b></td>
							<td>
								<span th:text="${product.productId}"></span>
								<input type="text" class="form-control hidden" th:value="*{uniPriceId}"/>
							</td>
						</tr>
						<tr>
							<td><b>Tên sản phẩm:</b></td>
							<td th:text="${product.productName}"></td>
						</tr>
						<tr>
							<td><b></b></td>
							<td>
								<button type="submit" class="btn btn-primary">Cập nhật</button>
								<button type="reset" class="btn btn-warning" id="btnReset">Quay về mặc định</button>
							</td>
						</tr>
					</table>
				</form>
		  	</div>
			<div class="col-sm-3">
				<div class="panel panel-warning">
				  	<div class="panel-heading">CHÚ THÍCH</div>
				  	<div class="panel-body">
				  		Text here
				  	</div>
				</div>
			</div>
		</div>

		<span id="menuItem" class="hidden">#price</span>
	</section>
</body>
</html>
