.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.required {
	color: red;
}

#tbl-loaihanghoa thead th {
    background: #ccc;
    border: none;
}

.clickable:hover {
    background-color: #efefef;
    cursor: pointer;
}

.pagination-centered {
	text-align: center;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.pointer-disabled {
	pointer-events: none;
}
.pagination {
	padding: 0;
	margin: 0;
}
#itemId {
	display: none;
}
.btn-edit {
	color: green;
}
.btn-remove {
	color: #ca0000;
}
.btn-view {
	color: #006bd7;
}
.userInfo {
	
}
.table-info tr td, .table-info tr th {
	font-size: 13px;
}
table.table-info thead tr th {
	background-color: #337ab7;
	color: white
}
.form-group {
	margin-bottom: 10px;
}


