<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css"/>
	<link rel="stylesheet" href="/css/sb-admin.css"/>
</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">
                	QUẢN LÝ BÁN HÀNG
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    	<i class="glyphicon glyphicon-user"></i>
                    	<span sec:authentication="name"></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="glyphicon glyphicon-cog"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}"><i class="glyphicon glyphicon-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="menu" class="nav navbar-nav side-nav">
                    <li id="dashboard">
                        <a th:href="@{/}">
                        	<i class="glyphicon glyphicon-globe"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#thongKe">
                        	<i class="glyphicon glyphicon-stats"></i> Thống kê <i class="caret"></i>
                        </a>
                        <ul id="#thongKe" class="collapse">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-usd"></i> Doanh thu</a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-tasks"></i> Hàng hóa</a>
                            </li>
                        </ul>
                    </li>
                    <li id="productType">
                        <a th:href="@{/product-type/list}">
                        	<i class="glyphicon glyphicon-barcode"></i> Quản lý Loại sản phẩm
                        </a>
                    </li>
                    <li id="product">
                        <a th:href="@{/product/list}"><i class="glyphicon glyphicon-tasks"></i> Quản lý Sản phẩm</a>
                    </li>
                    <li>
                        <a th:href="@{/product/list}"><i class="glyphicon glyphicon-plane"></i> Quản lý Nhà cung cấp</a>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#customer">
                        	<i class="glyphicon glyphicon-user"></i>
                        	Quản lý Khách hàng
                        	<i class="caret"></i>
                        </a>
                        <ul id="customer" class="collapse">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-user"></i> Khách sỉ</a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-user"></i> Khách lẻ</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#bill">
                        	<i class="glyphicon glyphicon-transfer"></i>
                        	Quản lý Nhập/Xuất
                        	 <i class="caret"></i>
                        </a>
                        <ul id="bill" class="collapse">
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-import active"></i>  Phiếu nhập kho</a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-export"></i>  Phiếu xuất kho</a>
                            </li>
                            <li>
                                <a href="#"><i class="glyphicon glyphicon-list-alt"></i>  Hóa đơn bán lẻ</a>
                            </li>
                        </ul>
                    </li>
                    <li id="price">
                        <a th:href="@{/price}"><i class="glyphicon glyphicon-equalizer"></i> Bảng giá</a>
                    </li>
                    <li id="user">
                        <a th:href="@{/user/list}"><i class="glyphicon glyphicon-user"></i> Quản lý Người dùng</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
        	<div class="container-fluid">
        		<!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol layout:fragment="link" class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Dashboard
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
        		<div layout:fragment="content">A placeholder for real content.</div>
        	</div>
        </div>
        <!-- .page-wrapper -->
	</div>
	<!-- wrapper -->

	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script th:src="@{/js/main.js}" charset="utf-8"></script>
</body>
</html>
